@font-face{
    font-family:"Mina-Calligraphic";
    src: url("../fonts/Mina-CalligraphicRegular.woff"),
    url("../fonts/Mina-CalligraphicRegular.woff2");
    font-display:swap;
    font-style:normal;
}
.section-1 {
    background-image: url(../img/bg-section3.jpg);
    background-repeat: no-repeat;
}

.sectionwrap-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 615px;
    margin: auto;
    gap: 67px;
    padding-block: 89px;
}

.section1-text h1 {
    color: #42595E;
    text-align: center;
    font-family: var(--font-Oswald);
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
}

.section1-discription {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.section1-discription span {
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.section1-discription span b {
    font-weight: 700;
}

.startBtn {
    padding: 19px 35px;
    align-items: center;
    gap: 10px;
    border-radius: 64px;
    background: #D57A77;
    border: none;
    color: #fff;
    color: #FFF;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.section2-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 94px 0px 325px;
    background-color: #E7E7E7;
}

.s2-toptextwrap {
    display: flex;
    gap: 84px;
    align-items: center;
    margin-bottom: 91px;
    max-width: 1025px;
}

.s2-toptextwrap h2 {
    color: #42595E;
    text-align: center;
    font-family: var(--font-Oswald);
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    text-transform: uppercase;
}
.s2-bottomtextwrap{
    font-family: 'Mina-Calligraphic' , sans-serif;
    color: var(--color-black);
    font-weight:400;
    font-size: 52px;
    font-style: normal;
    line-height: 62px;
}

.top-discription {
    display: flex;
    flex-direction: column;
    max-width: 665px;
    gap: 20px;
}

.top-discription h3,
.top-discription h4 {
    color: var(--color-black);
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.top-discription h3 b {
    font-weight: 700;
}

.s2-block {
    display: flex;
    max-width: 920px;
    margin: auto;
    margin-top: -222px;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.06);
    position: relative;
    margin-bottom: 108px;
}

.s2-block .arrow-block {
    position: absolute;
    right: -35px;
    top: 41px;
}

.s2block-txtwrap {
    padding-top: 44px;
}

.s2block-txtwrap h2 {
    color: #DEC2B9;
    font-family: var(--font-Oswald);
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 15px;
}

.s2block-txtwrap h3,
.s2block-txtwrap h4,
.s2block-txtwrap h5 {
    color: var(--color-black);
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 25px;
}

.s3text-top {
    display: flex;
    flex-direction: column;
    max-width: 708px;
    margin: auto;
    margin-bottom: 87px;
    align-items: center;
}
.s3text-top h2{
    color: #42595E;
font-family: var(--font-Oswald);
font-size: 38px;
font-style: normal;
font-weight: 500;
line-height: 46px;
margin-bottom:38px;
}
.s3text-top h3 , 
.s3text-top h4{
    color: var(--color-black);
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom:28px;
}
.s3text-top h4 b{
    font-weight:700;
}

.instruction-block {
    padding-left: 251px;
    padding-block: 96px;
    background-image: url(../img/integrations.png)
}

.text-instruction {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 25px;
}

.text-instruction h2,
.third-instruction-text h2
 {
    z-index: 1090;
    color: #8D9B9E;
font-family: var(--font-Oswald);
font-size: 38px;
font-style: normal;
font-weight: 500;
line-height: 46px;
}
.second-instruction-text h2{
    color: #DE7A77;
    font-family: var(--font-Oswald);
font-size: 38px;
font-style: normal;
font-weight: 500;
line-height: 46px;
z-index: 1090;
}
.text-instruction h3,
.third-instruction-text h3 ,
.second-instruction-text h3 {
    color: #000;
    font-family: proxima-nova, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.text-instruction .number,
.second-instruction-text .number,
.third-instruction-text .number {
    position: absolute;
    left: -50px;
    top: -30px;
}
.third-instruction-text .number3{
    position: absolute;
    top: -30px;
    left: -70px;
}

.second-instruction-block {
    display: flex;
    align-items: center;
    padding-left: 221px;
    gap: 139px;
}

.second-instruction-text {
    max-width: 496px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 25px;
}

.third-instruction-block {
    display: flex;
    align-items: center;
    padding-left: 250px;
    gap: 86px;
}

.third-instruction-text {
    max-width: 482px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 25px;
}

.section-4 {
    margin-bottom: 30px;
}

.section-4 .textnswitcher-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.section-4 .uptext-wrap {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.section-4 .uptext-main {
    color: var(--color-greyblue);
    text-align: center;
    font-family: var(--font-Oswald);
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    max-width: 836px;
}

.section-4 .uptext-discription {
    color: var(--color-black);
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.switcher-wrap {
    border-radius: 40px;
    background: #D1D1D1;
    color: #000;
    cursor: pointer;
}

.switcher-wrap .monthly,
.switcher-wrap .annual {
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.04px;
    border: none;
    background: none;
    padding: 10px 17px;
    cursor: pointer;
}

.switcher-wrap .annual.show,
.switcher-wrap .monthly.show {
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
    color: #D57A77;
    cursor: pointer;
}

.save40-wrap {
    color: var(--color-black);
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.switchblocks {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.switchblocks .switchblock-wrap {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.06);
    padding-block: 37px 43px;
    padding-inline: 30px;
}

.switchblock-wrap .content-type {
    margin-bottom: 11px;
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.switchblock-wrap .content-discription {
    margin-bottom: 26px;
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.switchblock-wrap .price {
    margin-bottom: 37px;
    position: relative;
}

.price .dollar {
    position: absolute;
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    top: -7px;
    left: -20px;
}

.price .money {
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.price .monthly {
    color: #849295;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.switchblock-wrap .chose-your-branding {
    padding: 11px 27px;
    border-radius: 26px;
    background: rgba(132, 146, 149, 0.20);
    color: #000;
    font-size: 14px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: none;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

.switchblock-wrap .up-to-text {
    color: #D57A77;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.chose-your-branding.available {
    background: #849295;
    color: var(--color-white);
}

.feutures-section {
    margin-bottom: 100px;
}

.feutures-section .feuturesmain-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feutures-section .arrow-down {
    padding: 10px;
    rotate: 180deg;
}

.feutures-section .arrow-down.show {
    rotate: 0deg;
    translate: 0px 5px;
}

.feutures-section .allfeuteres-text {
    text-decoration: underline;
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
}

.feutures-section .feuteresblockdown-wrap {
    display: none;
}

.feutures-section .feuteresblockdown-wrap.show {
    display: block;
    max-width: 825px;
    margin: auto;
}

.feutures-section .feuteresblocks-shows {
    display: flex;
    gap: 67px;
    max-width: 825px;
    padding-block: 16px;
    border-top: 1px solid var(--color-liteblue);
    padding-inline: 30px;
    margin-inline:auto;
}

.feutures-section .feuteresblocks-shows h3 {
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.feuteresblocks-shows td b {
    font-weight: 700;
}

.feutures-section .informationblocks {
    display: flex;
    gap: 67px;
    padding-block: 16px;
    border-top: 1px solid black;
    text-align: center;
    justify-content: space-around;
    padding-inline: 30px;
}

.feutures-section .informationblocks td {
    max-width: 218px;
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.informationblocks .integrations {
    max-width: 218px;
    color: #000;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    flex-direction: column;
}

.informationblocks td b {
    font-weight: 700;
}
.bottomsection-wrap{
    background-image: url(../img/bottom-section.png);
    background-repeat: no-repeat;
  }
  .bottomsection-wrap .ilse-wrap {
    display: flex;
    align-items: center;
    padding: 150px 230px 107px;
    width: 100%;
    justify-content: space-between;
  }
  .bottomsection-wrap .ilse-text{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .ilse-text h2 {
    color: var(--color-greyblue);
    text-align: center;
    font-size: 36px;
    font-family: var(--font-Oswald);
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    max-width: 590px;
    z-index: 1090;
    margin-bottom: 40px;
  }
  .ilse-text h4{
    color: var(--color-black);
    text-align: center;
    font-size: 30px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
  .ilse-text::before {
    content: '“';
    position: absolute;
    top: 46px;
    left: -32px;
    color: #D4D0CF;
    text-align: center;
    font-size: 286px;
    font-family: var(--font-Oswald);
    font-style: normal;
    font-weight: 500;
    line-height: 108px;
  }
  .ilse-text::after {
    content: '“';
    position: absolute;
    top: 12px;
    right: -13px;
    color: #D4D0CF;
    text-align: center;
    font-size: 286px;
    font-family: var(--font-Oswald);
    font-style: normal;
    font-weight: 500;
    line-height: 108px;
    transform: rotate(180deg);
  }
  @media(max-width:1280px){
    .bottomsection-wrap .ilse-wrap{
        padding-block: 20px;
        padding-inline: 100px;
        flex-direction: column;
    }
    .second-instruction-block{
        padding-left: 0;
        margin-bottom: 96px;
    }
    .third-instruction-block{
        padding-left: 100px;
    }
    .s2-block{
        flex-direction: column;
    }
    .second-instruction-block {
        flex-direction: column;
    max-width: 350px;
    margin: auto;
    gap: 96px;
    margin-bottom: 96px;
    }
    .third-instruction-block{
        max-width: 350px;
        margin: auto;
        padding-left: 0px;
        flex-direction: column-reverse;
        gap: 96px;
        margin-bottom: 96px;
    }
  }
  @media(max-width:1080px){
    .section-1{
        background-position: center;
    }
    .s2-block .arrow-block{
        right:10px;
    }
    .instruction-block{
        padding-left: 151px;
    background-position: center;
    }
    .switchblocks{
        flex-direction: column;
    align-items: center;
    }
  }
  @media(max-width:768px){
    .sectionwrap-1{
        padding-top: 20px;
    gap: 20px;
    padding-bottom: 0px;
    }
    .section1-text h1{
        font-size: 32px;
        line-height: 48px;
    }
    .startBtn{
        font-size:20px;
    }
    .section2-wrap{
        padding-inline:20px;
    }
    .s2-block{
        flex-direction: column;
    }
    .s2-toptextwrap{
        flex-direction: column;
    }
    .s2-bottomtextwrap{
        text-align:center;
    }
    .s2block-txtwrap{
        padding-inline:20px;
    }
    .s3text-top{
        text-align:center;
    }
    .instruction-block{
        padding-inline: 10px
    }
    .text-instruction , .second-instruction-text,
    .third-instruction-text{
        text-align: center;
        margin: auto;
     }
     .text-instruction .number,
.second-instruction-text .number,
.third-instruction-text .number3{
    display:none;
}
.second-instruction-block img,
.third-instruction-block img{
    max-width:320px;
}
.text-instruction h2,
.third-instruction-text h2,
.second-instruction-text h2{
    font-size:32px;
    line-height:48px;
}
.section-4 .uptext-main{
    font-size: 32px;
    line-height: 48px;
}
.feutures-section .feuteresblocks-shows{
    padding-inline: 0px;
    gap: 30px;
}
.feutures-section .informationblocks{
    gap: 10px;
    padding-inline: 0px;
}
.bottomsection-wrap .ilse-wrap{
    flex-direction: column;
    padding-top: 5px;
    padding-inline: 0;
    padding-bottom: 0px;
    gap: 0px;
}
.ilse-text::before{
    top:6px;
    left:-5px;
    font-size:186px;
}
.ilse-text::after{
    bottom: 20px;
    right: 0px;
    font-size: 186px;
}
.ilse-text h2{
    margin-bottom: 0px;
    line-height: 40px;
    font-size: 32px;
}
.ilse-text h4{
    font-size:20px
}
  }