.section-1 {
  background-image: url(../img/desctop-sectio1bg.jpg);
  background-repeat: no-repeat;
  margin-bottom: 66px;
  min-height: 690px;
  padding: 101px 65px 0 clamp(40px, 8vw, 168px);
  background-position: right;
}

.firstpage-wrap {
  position: relative;
}

.firstpage-wrap .firstpage-main-text {
  margin-bottom: 63px;
  max-width: 525px;
  font-size: 48px;
  font-family: var(--font-Oswald);
  font-weight: 500;
  line-height: 56px;
}

.firstpage-wrap .firstpage-list {
  display: flex;
  flex-direction: column;
}

.firstpage-wrap ul {
  list-style-type: none;
}

.firstpage-wrap .text-top-bottom {
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: var(--color-black);
  font-family: proxima-nova, sans-serif;
}

.firstpage-wrap .discription-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  color: var(--color-black);
  font-family: proxima-nova, sans-serif;
}

.discription-text b {
  color: var(--color-greyblue);
}

.firstpage-wrap .first-discription {
  display: flex;
  align-items: center;
  gap: 19px;
}

.yourbrend-wrap {
  position: absolute;
  top: 0;
  right: 0;
}

.mainblocktext-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 77px;
}

.mainblocktext-wrap .textinmainblock {
  color: var(--color-greyblue);
  text-align: center;
  font-size: 48px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

.blocks-wrap {
  display: flex;
  justify-content: space-between;
  padding-inline: 213px;
  margin-bottom: 125px;
}

.block-1 {
  display: flex;
  flex-direction: column;
  max-width: 275px;
}

.block-1 .imginblock-first {
  margin-bottom: 32px;
}

.block-1 .imginblock-second {
  margin-bottom: 22px;
}

.block-1 .imginblock-third {
  margin-bottom: 30px;
}

.block-1 p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-1 .name {
  margin-bottom: 15px;
  color: var(--color-liteblue);
  text-align: center;
  font-size: 30px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.block-1 .information {
  margin-bottom: 30px;
  color: var(--color-black);
  text-align: center;
  font-size: 18px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.block-1 .discription {
  color: var(--color-black);
  font-size: 18px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.block-1 .discription b {
  font-weight: 700px;
}

.section-3 {
  background-image: url(../img/bg-section3.jpg);
  background-repeat: no-repeat;
}

.section3-wrap .emmatext-wrap {
  display: flex;
  align-items: center;
  padding: 135px 0px 350px 265px;
  width: 100%;
}

.section3-wrap .text-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-inline: auto;
  position: relative;
}

.text-wrap::before {
  content: '“';
  position: absolute;
  top: 46px;
  left: -31px;
  color: #D4D0CF;
  text-align: center;
  font-size: 286px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 500;
  line-height: 108px;
}

.text-wrap::after {
  content: '“';
  position: absolute;
  right: -13px;
  color: #D4D0CF;
  text-align: center;
  font-size: 286px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 500;
  line-height: 108px;
  transform: rotate(180deg);
}

.text-wrap h2 {
  color: var(--color-greyblue);
  text-align: center;
  font-size: 48px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  max-width: 519px;
  z-index: 1090;
}

.text-wrap h3 {
  color: var(--color-black);
  text-align: center;
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.bottomblock-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -200px;
}

.bottomblock-wrap h2 {
  margin-bottom: -32px;
  background-color: var(--color-greyblue);
  z-index: 1090;
  color: var(--color-white);
  padding: 8px 24px;
  text-align: center;
  font-size: 36px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

.followtext-wrap {
  display: flex;
  background-color: #D7BBB2;
  margin-bottom: 65px;
}

.followtext-wrap .text-follow {
  display: flex;
  padding: 42px 52px 42px 58px;
  align-items: center;
  max-width: 920px;
}

.followtext-wrap .text-follow h3 {
  font-family: var(--font-Oswald);
  text-align: right;
  font-size: 52px;
  font-weight: 500;
  margin-right: 62px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--color-white);
}

.followtext-wrap .text-follow h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  border-left: 1px solid #fff;
  padding-left: 62px;
  font-family: proxima-nova, sans-serif;
}

.followtext-wrap .text-follow .description-follow b {
  font-weight: 400;
}

.section4-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 54px;
  margin-bottom: 100px;
}

.section4-wrap .maintext-wrap {
  color: var(--color-black);
  text-align: center;
  font-size: 20px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.section4blocks-wrap {
  display: flex;
  text-align: center;
  width: 100%;
  padding-inline: 162px;
  justify-content: space-between;
}

.section4blocks-wrap .arrow-between-block {
  margin-block: auto;
  padding-top: 40px;
}

.first-block {
  max-width: 289px;
}

.first-block .numbers {
  min-height: 100px;
}

.first-block .head-text {
  color: var(--color-liteblue);
  text-align: center;
  font-size: 32px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 18px;
}

.first-block .headtxt-description {
  color: var(--color-black);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  line-height: 28px;
}

.section-5 {
  margin-bottom: 30px;
}

.section-5 .textnswitcher-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.section-5 .uptext-wrap {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.section-5 .uptext-main {
  color: var(--color-greyblue);
  text-align: center;
  font-family: var(--font-Oswald);
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
}

.section-5 .uptext-discription {
  color: var(--color-black);
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.switcher-wrap {
  border-radius: 40px;
  background: #D1D1D1;
  color: #000;
  cursor: pointer;
}

.switcher-wrap .monthly,
.switcher-wrap .annual {
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.04px;
  border: none;
  background: none;
  padding: 10px 17px;
  cursor: pointer;
}

.switcher-wrap .annual.show,
.switcher-wrap .monthly.show {
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
  color: #D57A77;
  cursor: pointer;
}

.save40-wrap {
  color: var(--color-black);
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.switchblocks {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.switchblocks .switchblock-wrap {
  display: flex;
  flex-direction: column;
  max-width: 255px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background: #FFF;
  box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.06);
  padding-block: 37px 47px;
  padding-inline: 30px;
}

.switchblock-wrap .content-type {
  margin-bottom: 11px;
  color: #000;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.switchblock-wrap .content-discription {
  margin-bottom: 26px;
  color: #000;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.switchblock-wrap .price {
  margin-bottom: 37px;
  position: relative;
}

.price .dollar {
  position: absolute;
  color: #000;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  top: -7px;
  left: -20px;
}

.price .money {
  color: #000;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.price .monthly {
  color: #849295;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.switchblock-wrap .chose-your-branding {
  padding: 11px 27px;
  border-radius: 26px;
  background: rgba(132, 146, 149, 0.20);
  color: #000;
  font-size: 14px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.chose-your-branding.available {
  background: #849295;
  color: var(--color-white);
}

.feutures-section {
  margin-bottom: 100px;
}

.feutures-section .feuturesmain-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feutures-section .arrow-down {
  padding: 10px;
  rotate: 180deg;
}

.feutures-section .arrow-down.show {
  rotate: 0deg;
  translate: 0px 5px;
}

.feutures-section .allfeuteres-text {
  text-decoration: underline;
  color: #000;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}

.feutures-section .feuteresblockdown-wrap {
  display: none;
}

.feutures-section .feuteresblockdown-wrap.show {
  display: block;
  max-width: 825px;
  margin: auto;
}

.feutures-section .feuteresblocks-shows {
  display: flex;
  gap: 67px;
  max-width: 825px;
  padding-block: 16px;
  border-top: 1px solid var(--color-liteblue);
  padding-inline: 30px;
  margin-inline: auto;
}

.feutures-section .feuteresblocks-shows h3 {
  color: #000;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.feuteresblocks-shows td tr {
  font-weight: 700;
}

.feutures-section .informationblocks {
  display: flex;
  gap: 67px;
  padding-block: 16px;
  border-top: 1px solid black;
  text-align: center;
  justify-content: space-around;
  padding-inline: 30px;
}

.feutures-section .informationblocks td {
  max-width: 218px;
  color: #000;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.informationblocks .integrations {
  max-width: 218px;
  color: #000;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: column;
}

.informationblocks h3 b {
  font-weight: 700;
}

.bottomsection-wrap {
  background-image: url(../img/bottom-section.png);
  background-repeat: no-repeat;
}

.bottomsection-wrap .joanna-wrap {
  display: flex;
  align-items: center;
  padding: 150px 230px 107px;
  width: 100%;
  justify-content: space-between;
}

.bottomsection-wrap .joanna-text {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.joanna-text h2 {
  color: var(--color-greyblue);
  text-align: center;
  font-size: 48px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  max-width: 519px;
  z-index: 1090;
  margin-bottom: 40px;
}

.joanna-text h3 {
  color: var(--color-black);
  text-align: center;
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.joanna-text h4 {
  color: var(--color-black);
  text-align: center;
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.joanna-text::before {
  content: '“';
  position: absolute;
  top: 46px;
  left: -32px;
  color: #D4D0CF;
  text-align: center;
  font-size: 286px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 500;
  line-height: 108px;
}

.joanna-text::after {
  content: '“';
  position: absolute;
  top: -5px;
  right: -13px;
  color: #D4D0CF;
  text-align: center;
  font-size: 286px;
  font-family: var(--font-Oswald);
  font-style: normal;
  font-weight: 500;
  line-height: 108px;
  transform: rotate(180deg);
}

.mobile {
  display: none;
}

.mobileblock {
  display: none;
}
@media(max-width:1280px) {
  .joanna-text::after {
    top: 100px;
    right: 10px;
    font-size: 150px;
    line-height: 0px;
  }
  .joanna-text::before {
    left: 10px;
    font-size: 150px;
    line-height: 0px;
  }
}
@media(max-width:1200px) {
  .section-1 {
    background-image: url(../img/bgmobile.png);
    background-position: center;
    background-size: cover;
  }

  .section-1 .firstpage-main-text {
    margin: auto;
    text-align: center;
  }

  .firstpage-wrap .firstpage-list {
    max-width: 590px;
    margin: auto;
  }

  .yourbrend-wrap img {
    display: none;
  }

  .mobileblock {
    position: relative;
    padding-top: 94px;
    text-align: center;
    display: block;
  }

  .mobileblock .mobile {
    position: absolute;
    top: 0;
    display: unset;
  }

  .blocks-wrap {
    padding-inline: 0px;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding-inline: 0px;
    flex-direction: column;
  }

  .section3-wrap .emmatext-wrap {
    padding-left: 20px;
  }

  .text-wrap::before {
    font-size: 200px;
    top: 30px;
    left: 10px;
  }

  .text-wrap::after {
    right: 10px;
    top: 20px;
    font-size: 200px;
  }

  .text-follow {
    padding-inline: 30px;
  }

  .text-follow h3 {
    font-size: 42px;
  }

  .text-follow h4 {
    line-height: 30px;
  }

  .section4blocks-wrap {
    padding-inline: 30px;
  }

  .bottomsection-wrap .joanna-wrap {
    padding: 150px 20px 107px;
    justify-content: center;
    gap: 40px;
  }
  .joanna-text h2 {
    font-size: 40px;
  }
}

@media(max-width:780px) {
  .section-1 {
    padding-inline: 20px;
    padding-top: 50px;
  }

  .section-1 .firstpage-main-text {
    font-size: 32px;
  }

  .firstpage-list .text-top-bottom {
    font-size: 16px;
    line-height: 30px;
  }

  .firstpage-list .discription-text {
    font-size: 16px;
    line-height: 30px;
  }

  .mainblocktext-wrap .textinmainblock {
    font-size: 32px;
  }

  .section3-wrap .emmatext-wrap {
    flex-direction: column;
    padding-inline: 20px;
    padding-bottom: 20px
  }

  .emmatext-wrap .text-wrap h2 {
    font-size: 42px;
    line-height: 50px;
  }
  .text-wrap::before {
    font-size: 150px;
    top: -10px;
    left: 10px;
  }

  .text-wrap::after {
    right: 10px;
    font-size: 150px;
    top: -10px;
  }

  .bottomblock-wrap {
    margin-top: unset;
  }

  .followtext-wrap .text-follow {
    flex-direction: column;
  }

  .text-follow h3 {
    margin-right: 0px;
    text-align: left;
  }

  .followtext-wrap .text-follow h4 {
    padding-left: 0px;
    border-left: unset;
    border-top: 1px solid #fff;
  }

  .section4-wrap .maintext-wrap {
    font-size: 16px;
  }

  .section4blocks-wrap {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .section4blocks-wrap .arrow-between-block {
    display: none;
  }

  .section-5 .uptext-wrap {
    gap: 20px;
  }

  .section-5 .uptext-main {
    font-size: 32px;
  }

  .section-5 .switchblocks {
    flex-direction: column;
    align-items: center;
  }

  .feutures-section .feuteresblocks-shows {
    padding-inline: 0px;
    gap: 30px;
  }

  .feuteresblockdown-wrap .informationblocks {
    gap: 30px;
  }

  .bottomsection-wrap .joanna-wrap {
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 0;
    gap: 0px;
  }

  .bottomsection-wrap .joanna-text h2 {
    font-size: 32px;
    margin-bottom: 0px;
  }

  .bottomsection-wrap .joanna-text h3,
  .bottomsection-wrap .joanna-text h4 {
    font-size: 20px;
  }
  .joanna-text::before{
    left: 5px;
    font-size: 100px;
  }
  .joanna-text::after{
    top: 100px;
    font-size: 100px;
  }
}

@media(max-width:500px) {
  .firstpage-wrap .mobileblock {
    max-width: 308px;
    margin: auto;
    padding-top: 100px;
  }

  .mobileblock .mobile {
    width: 100%;
    padding: 20px 50px 0px 0px;
  }

  .mobileblock img {
    width: 100%;
  }
  .text-wrap::after {
    top: 50px;
  }
}

@media(max-width:320px) {
  .mobileblock .mobile {
    padding: 40px 50px 0px 0px;
  }

  .firstpage-wrap .mobileblock {
    padding-top: 110px;
  }
  .text-wrap::after {
    top: 100px;
  }
}